.image159Icon {
  height: 213px;
  width: 1220px;
  position: relative;
  object-fit: cover;
  display: none;
  max-width: 100%;
}
.image159Icon1,
.image160Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image160Icon {
  top: -2px;
  left: -9px;
  width: 1229px;
  height: 168px;
  z-index: 1;
}
.image159Group,
.image159Parent {
  border-radius: var(--br-xs);
  background-color: var(--primary-tint-2);
  overflow: hidden;
  max-width: 100%;
}
.image159Group {
  height: 213px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.image159Parent {
  height: 197px;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: -128px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  height: 151px;
  width: 1220px;
  position: relative;
  background-color: var(--color-floralwhite-200);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.heading4 {
  margin-right: -10px;
  width: 162px;
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 3;
}
.heading4DrBruceWillisWrapper {
  width: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.frameItem {
  height: 20px;
  width: 20px;
  position: relative;
}
.frameIcon {
  height: 13px;
  width: 14px;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  left: 3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.polygonParent {
  height: 23px;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 4;
}
.frameDiv,
.frameWrapper,
.polygonParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  padding: 0 0 0 var(--padding-11xs-5);
}
.heading5 {
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 100px;
  z-index: 3;
}
.heading5SeniorDoctorWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs-5);
}
.div {
  height: 17px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 24px;
  z-index: 3;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.starsIcon,
.starsIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 22px;
  z-index: 4;
}
.starsIcon1 {
  left: 18.5px;
  z-index: 5;
}
.starsIcon2,
.starsIcon3,
.starsParent {
  height: 22px;
  width: 38.5px;
  position: relative;
}
.starsIcon2,
.starsIcon3 {
  width: 20px;
  min-height: 22px;
  z-index: 6;
}
.starsIcon3 {
  z-index: 7;
}
.frameContainer,
.frameParent1,
.frameParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  color: var(--color-dimgray-300);
  font-family: var(--body-1-regular);
}
.frameContainer,
.frameParent1 {
  flex-direction: column;
}
.frameParent1 {
  gap: var(--gap-xs);
  font-size: var(--font-size-mini);
  color: var(--color-darkolivegreen-100);
}
.frameContainer {
  gap: var(--gap-6xs);
}
.heading41,
.heading51 {
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 65.8px;
  z-index: 3;
}
.heading41 {
  line-height: 24px;
  font-weight: 600;
  min-width: 39px;
}
.heading4850Wrapper,
.heading5FollowersParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading4850Wrapper {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-sm-4);
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.heading5FollowersParent {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.heading42,
.heading52 {
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 66.6px;
  z-index: 3;
}
.heading42 {
  line-height: 24px;
  font-weight: 600;
  min-width: 34px;
}
.heading418kWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.heading5FollowingParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.heading43,
.heading53 {
  position: relative;
  line-height: 16.8px;
  font-weight: 500;
  display: inline-block;
  min-width: 37.7px;
  z-index: 3;
}
.heading43 {
  font-size: var(--font-size-xl);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-gray-400);
  min-width: 37.6px;
}
.frameParent3,
.heading5PostsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frameParent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameGroup,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  min-width: 207px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkolivegreen-100);
}
.frameGroup {
  width: 573.6px;
  flex-direction: row;
  gap: var(--gap-60xl);
  max-width: 100%;
}
.bookAnAppointment {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.bookAnAppointmentWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid-5) var(--padding-14xl-5);
  background-color: var(--color-darkolivegreen-100);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 3;
}
.bookAnAppointmentWrapper:hover {
  background-color: var(--color-seagreen);
}
.frameWrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-floralwhite-200);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-17xl) var(--padding-30xl) var(--padding-12xl)
    var(--padding-191xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
}
.frameInner {
  height: 159px;
  width: 159px;
  position: absolute;
  margin: 0 !important;
  top: -33px;
  left: 30px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
}
.frameParent {
  width: 1220px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-86xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    flex-wrap: wrap;
    gap: var(--gap-20xl);
  }
  .rectangleParent {
    padding-left: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading4,
  .heading41,
  .heading42,
  .heading43 {
    font-size: var(--body-1-regular-size);
    line-height: 17px;
  }
  .heading41,
  .heading42,
  .heading43 {
    line-height: 19px;
  }
  .frameParent3 {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: var(--gap-xl);
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
